wsdl/comum.xsd

<?xml version='1.0' encoding='UTF-8'?><schema xmlns:com="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/comum" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/comum">
  
  <simpleType name="NRE">
    <annotation>
      <documentation>
        Número de Registro Eletrônico. Identificador
        do processo ou documento tramitado, que permite
        relacionar futuros trâmites do mesmo objeto
        na solução de interoperabilidade. Seu formato é
        composto de dezesseis dígitos numéricos, onde os
        10 primeiros são um sequencial, os 2 próximos
        o dígito verificador (calculado a partir do
        sequencial) e os 4 últimos se referem ao ano
        de geração do número.
      </documentation>
    </annotation>
    <restriction base="string">
      <pattern value="\d{16}"/>
    </restriction>
  </simpleType>
  
  <simpleType name="IDT">
  	<annotation>
  	  <documentation>Identificador do trâmite</documentation>
  	</annotation>
  	<restriction base="long"/>
  </simpleType>
  
  <simpleType name="justificativaDaRecusaDeTramite">
    <restriction base="string">
       <minLength value="1"/>
       <maxLength value="1000"/>
    </restriction>
  </simpleType>
  
  <simpleType name="motivoDaRecusaDeTramite">
	  <restriction base="string">
	    <enumeration value="01"><annotation><documentation>Formato de componente digital não suportado</documentation></annotation></enumeration>
	    <enumeration value="02"><annotation><documentation>Componente digital corrompido</documentation></annotation></enumeration>
	    <enumeration value="03"><annotation><documentation>Falta de componentes digitais</documentation></annotation></enumeration>
	    <enumeration value="99"><annotation><documentation>Outro</documentation></annotation></enumeration>
	  </restriction>
  </simpleType>
  
  <simpleType name="valorPropriedadeAdicional">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="10000"/>
    </restriction>
  </simpleType>
  
  <complexType name="propriedadeAdicional">
    <annotation>
      <documentation>
        Tipo de dados utilizado para permitir que
        o sistema informe dados adicionais, com
        o fim de aumentar as capacidades de interação
        entre as pontas.
      </documentation>
    </annotation>
    <simpleContent>
     <extension base="com:valorPropriedadeAdicional">
       <attribute name="chave" use="required">
         <simpleType>
           <restriction base="string">
             <minLength value="1"/>
             <maxLength value="250"/>
           </restriction>
         </simpleType>
       </attribute>
     </extension>
    </simpleContent>
  </complexType>
  
  <simpleType name="nome">
    <annotation>
      <documentation>
        Define a estrutura de um nome genérico.
      </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="150"/>
    </restriction>
  </simpleType>
  
  <simpleType name="protocolo">
    <annotation>
      <documentation>
        Número de protocolo da entidade em tramitação.
      </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="40"/>
    </restriction>
  </simpleType>
  
  <simpleType name="nivelDeSigilo">
    <annotation>
      <documentation>
        Nível de sigilo do artefato. Até o presente momento
        apenas artefatos públicos serão aceitos. Em futuras
        versões os outros níveis passarão a ser permitidos.
      </documentation>
    </annotation>
    <restriction base="integer">
      <enumeration value="1"><annotation><documentation>Público</documentation></annotation></enumeration>
    </restriction>
  </simpleType>
  
  <complexType name="produtor">
    <annotation>
      <documentation>
        Entidade produtora do artefato em questão.
        Pode ou não estar presente nos repositórios
        de estruturas do serviço.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="com:pessoa">
        <sequence>
		      <element minOccurs="0" name="unidade">
		        <annotation>
		          <documentation>
		            Detalhes da unidade, dentro da entidade produtora,
		            que de fato produziu o documento. Pode ou não
		            ser informada.
		          </documentation>
		        </annotation>
		        <complexType>
			        <complexContent>
			          <extension base="com:pessoa"/>
			        </complexContent>
		        </complexType>
		      </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  
  <simpleType name="processoDeNegocio">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="100"/>
    </restriction>
  </simpleType>
  
  <simpleType name="descricao">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="1500"/>
    </restriction>
  </simpleType>
  
  <simpleType name="identificacaoDoRepositorioDeEstruturas">
    <restriction base="integer">
    </restriction>
  </simpleType>
  
  <simpleType name="volume">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="50"/>
    </restriction>
  </simpleType>
  
  <simpleType name="numeroDeIdentificacaoDaEstrutura">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="20"/>
    </restriction>
  </simpleType>
  
  <complexType name="estruturaOrganizacional">
    <annotation>
      <documentation>
        Estrutura organizacional vinculada a API de interoperabilidade.
        Pode ser um órgão, um departamento, ou qualquer outra entidade
        aplicável. Identificada através da identificação do repositório
        em que se encontra e do seu código de identificação.
      </documentation>
    </annotation>
    <sequence>
      <element name="identificacaoDoRepositorioDeEstruturas" type="com:identificacaoDoRepositorioDeEstruturas"/>
      <element name="numeroDeIdentificacaoDaEstrutura" type="com:numeroDeIdentificacaoDaEstrutura"/>
    </sequence>
  </complexType>
  
  <complexType name="pessoa">
    <annotation>
      <documentation>
        Pessoa física, jurídica, órgão ou entidade. Identificada
        pelo seu nome ou por vínculo com estrutura do repositório
        de estruturas do serviço.
      </documentation>
    </annotation>
    <sequence>
      <element name="nome" type="com:nome"/>
      <element minOccurs="0" name="tipo">
        <annotation>
          <documentation>
            Indica o tipo da pessoa. Pode ser:
            - fisica
            - juridica
            - orgaopublico
          </documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <enumeration value="fisica"/>
            <enumeration value="juridica"/>
            <enumeration value="orgaopublico"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="numeroDeIdentificacao">
        <annotation>
          <documentation>
            Código que identifica essa pessoa, em função
            do seu tipo. Por exemplo, para pessoas físicas
            deve ser o seu CPF.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="estruturaOrganizacional" type="com:estruturaOrganizacional"/>
    </sequence>
  </complexType>
  
  <complexType name="periodo">
    <sequence>
      <element minOccurs="0" name="de" type="dateTime"/>
      <element minOccurs="0" name="ate" type="dateTime"/>
    </sequence>
  </complexType>
  
  <complexType name="paginacao">
    <sequence>
      <element name="registroInicial" type="integer"/>
      <element name="quantidadeDeRegistros" type="integer"/>
    </sequence>
  </complexType>
  
  <complexType name="especie">
    <annotation>
      <documentation>
        Espécie documental, identificada por um código
        e o nome da espécie no produtor do artefato.
      </documentation>
    </annotation>
    <sequence>
      <element name="codigo">
        <simpleType>
          <restriction base="string">
          	<!-- Nota para manutenção: qualquer alteração nessa enumeração
          	de valores *deve* ser refletida no mecanismo que valida a entrada
          	de dados da API REST (validador JSR303). -->
			<enumeration value="1"><annotation><documentation>Abaixo-assinado</documentation></annotation></enumeration>
			<enumeration value="2"><annotation><documentation>Acórdão</documentation></annotation></enumeration>
			<enumeration value="3"><annotation><documentation>Acordo</documentation></annotation></enumeration>
			<enumeration value="4"><annotation><documentation>Alvará</documentation></annotation></enumeration>
			<enumeration value="5"><annotation><documentation>Anais</documentation></annotation></enumeration>
			<enumeration value="6"><annotation><documentation>Anteprojeto</documentation></annotation></enumeration>
			<enumeration value="7"><annotation><documentation>Apólice</documentation></annotation></enumeration>
			<enumeration value="8"><annotation><documentation>Apostila</documentation></annotation></enumeration>
			<enumeration value="9"><annotation><documentation>Ata</documentation></annotation></enumeration>
			<enumeration value="10"><annotation><documentation>Atestado</documentation></annotation></enumeration>
			<enumeration value="11"><annotation><documentation>Ato</documentation></annotation></enumeration>
			<enumeration value="12"><annotation><documentation>Auto</documentation></annotation></enumeration>
			<enumeration value="13"><annotation><documentation>Aviso</documentation></annotation></enumeration>
			<enumeration value="14"><annotation><documentation>Balancete</documentation></annotation></enumeration>
			<enumeration value="15"><annotation><documentation>Balanço</documentation></annotation></enumeration>
			<enumeration value="16"><annotation><documentation>Bilhete</documentation></annotation></enumeration>
			<enumeration value="17"><annotation><documentation>Boletim</documentation></annotation></enumeration>
			<enumeration value="18"><annotation><documentation>Carta</documentation></annotation></enumeration>
			<enumeration value="19"><annotation><documentation>Cartaz</documentation></annotation></enumeration>
			<enumeration value="20"><annotation><documentation>Cédula</documentation></annotation></enumeration>
			<enumeration value="21"><annotation><documentation>Certidão</documentation></annotation></enumeration>
			<enumeration value="22"><annotation><documentation>Certificado</documentation></annotation></enumeration>
			<enumeration value="23"><annotation><documentation>Cheque</documentation></annotation></enumeration>
			<enumeration value="24"><annotation><documentation>Comprovante</documentation></annotation></enumeration>
			<enumeration value="25"><annotation><documentation>Comunicado</documentation></annotation></enumeration>
			<enumeration value="26"><annotation><documentation>Consulta</documentation></annotation></enumeration>
			<enumeration value="27"><annotation><documentation>Contracheque</documentation></annotation></enumeration>
			<enumeration value="28"><annotation><documentation>Contrato</documentation></annotation></enumeration>
			<enumeration value="29"><annotation><documentation>Convênio</documentation></annotation></enumeration>
			<enumeration value="30"><annotation><documentation>Convite</documentation></annotation></enumeration>
			<enumeration value="31"><annotation><documentation>Convenção</documentation></annotation></enumeration>
			<enumeration value="32"><annotation><documentation>Crachá</documentation></annotation></enumeration>
			<enumeration value="33"><annotation><documentation>Cronograma</documentation></annotation></enumeration>
			<enumeration value="34"><annotation><documentation>Currículo</documentation></annotation></enumeration>
			<enumeration value="35"><annotation><documentation>Debênture</documentation></annotation></enumeration>
			<enumeration value="36"><annotation><documentation>Decisão</documentation></annotation></enumeration>
			<enumeration value="37"><annotation><documentation>Declaração</documentation></annotation></enumeration>
			<enumeration value="38"><annotation><documentation>Decreto</documentation></annotation></enumeration>
			<enumeration value="39"><annotation><documentation>Deliberação</documentation></annotation></enumeration>
			<enumeration value="40"><annotation><documentation>Demonstrativo</documentation></annotation></enumeration>
			<enumeration value="41"><annotation><documentation>Depoimento</documentation></annotation></enumeration>
			<enumeration value="42"><annotation><documentation>Despacho</documentation></annotation></enumeration>
			<enumeration value="43"><annotation><documentation>Diário</documentation></annotation></enumeration>
			<enumeration value="44"><annotation><documentation>Diploma</documentation></annotation></enumeration>
			<enumeration value="45"><annotation><documentation>Diretriz</documentation></annotation></enumeration>
			<enumeration value="46"><annotation><documentation>Dissertação</documentation></annotation></enumeration>
			<enumeration value="47"><annotation><documentation>Dossiê</documentation></annotation></enumeration>
			<enumeration value="48"><annotation><documentation>Edital</documentation></annotation></enumeration>
			<enumeration value="49"><annotation><documentation>E-mail</documentation></annotation></enumeration>
			<enumeration value="50"><annotation><documentation>Embargos</documentation></annotation></enumeration>
			<enumeration value="51"><annotation><documentation>Emenda</documentation></annotation></enumeration>
			<enumeration value="52"><annotation><documentation>Escala</documentation></annotation></enumeration>
			<enumeration value="53"><annotation><documentation>Escritura</documentation></annotation></enumeration>
			<enumeration value="54"><annotation><documentation>Estatuto</documentation></annotation></enumeration>
			<enumeration value="55"><annotation><documentation>Exposição de Motivos</documentation></annotation></enumeration>
			<enumeration value="56"><annotation><documentation>Extrato</documentation></annotation></enumeration>
			<enumeration value="57"><annotation><documentation>Fatura</documentation></annotation></enumeration>
			<enumeration value="58"><annotation><documentation>Ficha</documentation></annotation></enumeration>
			<enumeration value="59"><annotation><documentation>Fluxograma</documentation></annotation></enumeration>
			<enumeration value="60"><annotation><documentation>Folha</documentation></annotation></enumeration>
			<enumeration value="61"><annotation><documentation>Folheto/Folder</documentation></annotation></enumeration>
			<enumeration value="62"><annotation><documentation>Formulário</documentation></annotation></enumeration>
			<enumeration value="63"><annotation><documentation>Grade Curricular</documentation></annotation></enumeration>
			<enumeration value="64"><annotation><documentation>Guia</documentation></annotation></enumeration>
			<enumeration value="65"><annotation><documentation>Histórico</documentation></annotation></enumeration>
			<enumeration value="66"><annotation><documentation>Indicação</documentation></annotation></enumeration>
			<enumeration value="67"><annotation><documentation>Informe</documentation></annotation></enumeration>
			<enumeration value="68"><annotation><documentation>Instrução</documentation></annotation></enumeration>
			<enumeration value="69"><annotation><documentation>Inventário</documentation></annotation></enumeration>
			<enumeration value="70"><annotation><documentation>Laudo</documentation></annotation></enumeration>
			<enumeration value="71"><annotation><documentation>Lei</documentation></annotation></enumeration>
			<enumeration value="72"><annotation><documentation>Lista/Listagem</documentation></annotation></enumeration>
			<enumeration value="73"><annotation><documentation>Livro</documentation></annotation></enumeration>
			<enumeration value="74"><annotation><documentation>Mandado</documentation></annotation></enumeration>
			<enumeration value="75"><annotation><documentation>Manifesto</documentation></annotation></enumeration>
			<enumeration value="76"><annotation><documentation>Manual</documentation></annotation></enumeration>
			<enumeration value="77"><annotation><documentation>Mapa</documentation></annotation></enumeration>
			<enumeration value="78"><annotation><documentation>Medida Provisória</documentation></annotation></enumeration>
			<enumeration value="79"><annotation><documentation>Memorando</documentation></annotation></enumeration>
			<enumeration value="80"><annotation><documentation>Memorando-circular</documentation></annotation></enumeration>
			<enumeration value="81"><annotation><documentation>Memorial</documentation></annotation></enumeration>
			<enumeration value="82"><annotation><documentation>Mensagem</documentation></annotation></enumeration>
			<enumeration value="83"><annotation><documentation>Minuta</documentation></annotation></enumeration>
			<enumeration value="84"><annotation><documentation>Moção</documentation></annotation></enumeration>
			<enumeration value="85"><annotation><documentation>Norma</documentation></annotation></enumeration>
			<enumeration value="86"><annotation><documentation>Nota</documentation></annotation></enumeration>
			<enumeration value="87"><annotation><documentation>Notificação</documentation></annotation></enumeration>
			<enumeration value="88"><annotation><documentation>Ofício</documentation></annotation></enumeration>
			<enumeration value="89"><annotation><documentation>Ofício-Circular</documentation></annotation></enumeration>
			<enumeration value="90"><annotation><documentation>Orçamento</documentation></annotation></enumeration>
			<enumeration value="91"><annotation><documentation>Ordem</documentation></annotation></enumeration>
			<enumeration value="92"><annotation><documentation>Organograma</documentation></annotation></enumeration>
			<enumeration value="93"><annotation><documentation>Orientação</documentation></annotation></enumeration>
			<enumeration value="94"><annotation><documentation>Panfleto</documentation></annotation></enumeration>
			<enumeration value="95"><annotation><documentation>Parecer</documentation></annotation></enumeration>
			<enumeration value="96"><annotation><documentation>Passaporte</documentation></annotation></enumeration>
			<enumeration value="97"><annotation><documentation>Pauta</documentation></annotation></enumeration>
			<enumeration value="98"><annotation><documentation>Petição</documentation></annotation></enumeration>
			<enumeration value="99"><annotation><documentation>Planilha</documentation></annotation></enumeration>
			<enumeration value="100"><annotation><documentation>Plano</documentation></annotation></enumeration>
			<enumeration value="101"><annotation><documentation>Planta</documentation></annotation></enumeration>
			<enumeration value="102"><annotation><documentation>Portaria</documentation></annotation></enumeration>
			<enumeration value="103"><annotation><documentation>Precatório</documentation></annotation></enumeration>
			<enumeration value="104"><annotation><documentation>Processo</documentation></annotation></enumeration>
			<enumeration value="105"><annotation><documentation>Procuração</documentation></annotation></enumeration>
			<enumeration value="106"><annotation><documentation>Programa</documentation></annotation></enumeration>
			<enumeration value="107"><annotation><documentation>Projeto</documentation></annotation></enumeration>
			<enumeration value="108"><annotation><documentation>Prontuário</documentation></annotation></enumeration>
			<enumeration value="109"><annotation><documentation>Pronunciamento</documentation></annotation></enumeration>
			<enumeration value="110"><annotation><documentation>Proposta</documentation></annotation></enumeration>
			<enumeration value="111"><annotation><documentation>Prospecto</documentation></annotation></enumeration>
			<enumeration value="112"><annotation><documentation>Protocolo</documentation></annotation></enumeration>
			<enumeration value="113"><annotation><documentation>Prova</documentation></annotation></enumeration>
			<enumeration value="114"><annotation><documentation>Questionário</documentation></annotation></enumeration>
			<enumeration value="115"><annotation><documentation>Receita</documentation></annotation></enumeration>
			<enumeration value="116"><annotation><documentation>Recibo</documentation></annotation></enumeration>
			<enumeration value="117"><annotation><documentation>Recurso</documentation></annotation></enumeration>
			<enumeration value="118"><annotation><documentation>Regimento</documentation></annotation></enumeration>
			<enumeration value="119"><annotation><documentation>Registro</documentation></annotation></enumeration>
			<enumeration value="120"><annotation><documentation>Regulamento</documentation></annotation></enumeration>
			<enumeration value="121"><annotation><documentation>Relação</documentation></annotation></enumeration>
			<enumeration value="122"><annotation><documentation>Relatório</documentation></annotation></enumeration>
			<enumeration value="123"><annotation><documentation>Release</documentation></annotation></enumeration>
			<enumeration value="124"><annotation><documentation>Representação</documentation></annotation></enumeration>
			<enumeration value="125"><annotation><documentation>Requerimento</documentation></annotation></enumeration>
			<enumeration value="126"><annotation><documentation>Requisição</documentation></annotation></enumeration>
			<enumeration value="127"><annotation><documentation>Resolução</documentation></annotation></enumeration>
			<enumeration value="128"><annotation><documentation>Resumo</documentation></annotation></enumeration>
			<enumeration value="129"><annotation><documentation>Roteiro</documentation></annotation></enumeration>
			<enumeration value="130"><annotation><documentation>Sentença</documentation></annotation></enumeration>
			<enumeration value="131"><annotation><documentation>Sinopse</documentation></annotation></enumeration>
			<enumeration value="132"><annotation><documentation>Solicitação</documentation></annotation></enumeration>
			<enumeration value="133"><annotation><documentation>Súmula</documentation></annotation></enumeration>
			<enumeration value="134"><annotation><documentation>Tabela</documentation></annotation></enumeration>
			<enumeration value="135"><annotation><documentation>Telegrama</documentation></annotation></enumeration>
			<enumeration value="136"><annotation><documentation>Termo</documentation></annotation></enumeration>
			<enumeration value="137"><annotation><documentation>Tese</documentation></annotation></enumeration>
			<enumeration value="138"><annotation><documentation>Testamento</documentation></annotation></enumeration>
			<enumeration value="139"><annotation><documentation>Título</documentation></annotation></enumeration>
			<enumeration value="140"><annotation><documentation>Voto</documentation></annotation></enumeration>
			<enumeration value="141"><annotation><documentation>Carteira</documentation></annotation></enumeration>
			<enumeration value="142"><annotation><documentation>Cartão</documentation></annotation></enumeration>
			<enumeration value="143"><annotation><documentation>CPF/CIC</documentation></annotation></enumeration>
			<enumeration value="144"><annotation><documentation>CNPJ</documentation></annotation></enumeration>
			<enumeration value="145"><annotation><documentation>Calendário</documentation></annotation></enumeration>
			<enumeration value="146"><annotation><documentation>CNH</documentation></annotation></enumeration>
			<enumeration value="147"><annotation><documentation>RG</documentation></annotation></enumeration>
			<enumeration value="148"><annotation><documentation>Agenda</documentation></annotation></enumeration>
			<enumeration value="149"><annotation><documentation>Análise</documentation></annotation></enumeration>
			<enumeration value="150"><annotation><documentation>Anotação</documentation></annotation></enumeration>
			<enumeration value="151"><annotation><documentation>Áudio</documentation></annotation></enumeration>
			<enumeration value="152"><annotation><documentation>Boleto</documentation></annotation></enumeration>
			<enumeration value="153"><annotation><documentation>Conta</documentation></annotation></enumeration>
			<enumeration value="154"><annotation><documentation>Contrarrazões</documentation></annotation></enumeration>
			<enumeration value="155"><annotation><documentation>Correspondência</documentation></annotation></enumeration>
			<enumeration value="156"><annotation><documentation>Cota</documentation></annotation></enumeration>
			<enumeration value="157"><annotation><documentation>Credencial</documentation></annotation></enumeration>
			<enumeration value="158"><annotation><documentation>Croqui</documentation></annotation></enumeration>
			<enumeration value="159"><annotation><documentation>Defesa</documentation></annotation></enumeration>
			<enumeration value="160"><annotation><documentation>Demonstração</documentation></annotation></enumeration>
			<enumeration value="161"><annotation><documentation>Denúncia</documentation></annotation></enumeration>
			<enumeration value="162"><annotation><documentation>Esclarecimento</documentation></annotation></enumeration>
			<enumeration value="163"><annotation><documentation>Escrituração</documentation></annotation></enumeration>
			<enumeration value="164"><annotation><documentation>Estratégia</documentation></annotation></enumeration>
			<enumeration value="165"><annotation><documentation>Impugnação</documentation></annotation></enumeration>
			<enumeration value="166"><annotation><documentation>Informação</documentation></annotation></enumeration>
			<enumeration value="167"><annotation><documentation>Intenção</documentation></annotation></enumeration>
			<enumeration value="168"><annotation><documentation>Licença</documentation></annotation></enumeration>
			<enumeration value="169"><annotation><documentation>Matéria</documentation></annotation></enumeration>
			<enumeration value="170"><annotation><documentation>Material</documentation></annotation></enumeration>
			<enumeration value="171"><annotation><documentation>Memória</documentation></annotation></enumeration>
			<enumeration value="172"><annotation><documentation>Movimentação</documentation></annotation></enumeration>
			<enumeration value="173"><annotation><documentation>Pedido</documentation></annotation></enumeration>
			<enumeration value="174"><annotation><documentation>Reclamação</documentation></annotation></enumeration>
			<enumeration value="175"><annotation><documentation>Referendo</documentation></annotation></enumeration>
			<enumeration value="176"><annotation><documentation>Resultado</documentation></annotation></enumeration>
			<enumeration value="177"><annotation><documentation>Vídeo</documentation></annotation></enumeration>
			<enumeration value="999"><annotation><documentation>Outra</documentation></annotation></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="nomeNoProdutor" type="com:nome"/>
    </sequence>
  </complexType>
  
  <complexType name="identificacaoDoDocumento">
    <annotation>
      <documentation>
        Reúne dados de identificação do documento:
        número, ano, sigla da unidade produtora
        e o complemento.
      </documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" name="numero" type="integer"/>
      <element minOccurs="0" name="ano" type="integer"/>
      <element minOccurs="0" name="siglaDaUnidadeProdutora">
        <annotation>
          <documentation>
            Sigla da unidade administrativa que produziu
            determinado documento de uma espécie documental.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="complemento">
        <simpleType>
          <restriction base="string">
            <maxLength value="100"/>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  
  <complexType name="protocoloAnterior">
    <annotation>
      <documentation>
        Referência a um protocolo e órgão, que
        eram representativos do documento ou processo
        em questão, antes do mesmo ser protocolado
        novamente.
      </documentation>
    </annotation>
    <sequence>
      <element name="protocolo" type="com:protocolo"/>
      <element name="pessoa" type="com:pessoa"/>
    </sequence>
  </complexType>
  
  <complexType name="historico">
    <annotation>
      <documentation>
        Lista de todas as operações que ocorreram
        no artefato relacionado. Cada operação é
        retratada através de seu código, data e
        complemento, se aplicável.
      </documentation>
    </annotation>
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="operacao" type="com:operacao"/>
    </sequence>
  </complexType>
  
  <complexType name="operacao">
    <annotation>
      <documentation>
        Representa uma operação que ocorreu
        em algum momento no tempo. Descrita
        pelo código do tipo, data da ocorrência, 
        e complemento, se aplicável.
      </documentation>
    </annotation>
    <sequence>
      <element name="pessoa" type="com:pessoa"/>
      <element name="codigo">
        <simpleType>
          <restriction base="string">
            <enumeration value="01"><annotation><documentation>Registro</documentation></annotation></enumeration>
            <enumeration value="02"><annotation><documentation>Envio de documento avulso/processo</documentation></annotation></enumeration>
            <enumeration value="03"><annotation><documentation>Cancelamento/exclusão ou envio de documento</documentation></annotation></enumeration>
            <enumeration value="04"><annotation><documentation>Recebimento de documento</documentation></annotation></enumeration>
            <enumeration value="05"><annotation><documentation>Autuação</documentation></annotation></enumeration>
            <enumeration value="06"><annotation><documentation>Juntada por anexação</documentation></annotation></enumeration>
            <enumeration value="07"><annotation><documentation>Juntada por apensação</documentation></annotation></enumeration>
            <enumeration value="08"><annotation><documentation>Desapensação</documentation></annotation></enumeration>
            <enumeration value="09"><annotation><documentation>Arquivamento</documentation></annotation></enumeration>
            <enumeration value="10"><annotation><documentation>Arquivamento no Arquivo Nacional</documentation></annotation></enumeration>
            <enumeration value="11"><annotation><documentation>Eliminação</documentation></annotation></enumeration>
            <enumeration value="12"><annotation><documentation>Sinistro</documentation></annotation></enumeration>
            <enumeration value="13"><annotation><documentation>Reconstituição de processo</documentation></annotation></enumeration>
            <enumeration value="14"><annotation><documentation>Desarquivamento</documentation></annotation></enumeration>
            <enumeration value="15"><annotation><documentation>Desmembramento</documentation></annotation></enumeration>
            <enumeration value="16"><annotation><documentation>Desentranhamento</documentation></annotation></enumeration>
            <enumeration value="17"><annotation><documentation>Encerramento/abertura de volume no processo</documentation></annotation></enumeration>
            <enumeration value="18"><annotation><documentation>Registro de extravio</documentation></annotation></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element name="dataHora" type="dateTime"/>
      <element name="complemento">
        <simpleType>
          <restriction base="string">
            <maxLength value="500"/>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  
  <complexType name="documentoDeIdentificacao">
    <annotation>
      <documentation>
        Define um documento de identificação de
        uma determinada pessoa.
      </documentation>
    </annotation>
    <sequence>
      <element name="codigo">
        <simpleType>
          <restriction base="string">
            <minLength value="1"/>
            <maxLength value="50"/>
          </restriction>
        </simpleType>
      </element>
      <element name="emissor" type="com:nome"/>
      <element name="tipo">
        <simpleType>
          <restriction base="string">
						<enumeration value="CI"><annotation><documentation>Carteira de identidade</documentation></annotation></enumeration>
						<enumeration value="CNH"><annotation><documentation>Carteira nacional de habilitação</documentation></annotation></enumeration>
						<enumeration value="TE"><annotation><documentation>Título de eleitor</documentation></annotation></enumeration>
						<enumeration value="CN"><annotation><documentation>Certidão de nascimento</documentation></annotation></enumeration>
						<enumeration value="CC"><annotation><documentation>Certidão de casamento</documentation></annotation></enumeration>
						<enumeration value="PAS"><annotation><documentation>Passaporte</documentation></annotation></enumeration>
						<enumeration value="CT"><annotation><documentation>Carteira de trabalho</documentation></annotation></enumeration>
						<enumeration value="RIC"><annotation><documentation>Registro individual do cidadão</documentation></annotation></enumeration>
						<enumeration value="CMF"><annotation><documentation>Cadastro do ministério da fazenda</documentation></annotation></enumeration>
						<enumeration value="PISPASEP"><annotation><documentation>Número no programa de integração social</documentation></annotation></enumeration>
						<enumeration value="CEI"><annotation><documentation>Cadastro específico do INSS</documentation></annotation></enumeration>
						<enumeration value="NIT"><annotation><documentation>Número de identificação do trabalho</documentation></annotation></enumeration>
						<enumeration value="CP"><annotation><documentation>Cadastro em conselhos profissionais</documentation></annotation></enumeration>
						<enumeration value="IF"><annotation><documentation>Identidade funcional</documentation></annotation></enumeration>
						<enumeration value="OAB"><annotation><documentation>Ordem dos advogados do Brasil</documentation></annotation></enumeration>
						<enumeration value="RJC"><annotation><documentation>Número de inscrição empresarial</documentation></annotation></enumeration>
						<enumeration value="RGE"><annotation><documentation>Registro de identificação do estrangeiro</documentation></annotation></enumeration>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="nomeNoDocumento" type="com:nome"/>
    </sequence>
  </complexType>
  
  <complexType name="endereco">
    <annotation>
      <documentation>
        Define um endereço, que pode ser
        de residência de uma pessoa física,
        sede de uma pessoa jurídica, entre
        outras possibilidades.
      </documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" name="logradouro">
        <simpleType>
          <restriction base="string">
            <minLength value="1"/>
            <maxLength value="250"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="numero">
        <simpleType>
          <restriction base="string">
            <minLength value="1"/>
            <maxLength value="50"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="complemento">
        <simpleType>
          <restriction base="string">
            <minLength value="1"/>
            <maxLength value="250"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="bairro" type="com:nome"/>
      <element minOccurs="0" name="cidade" type="com:nome"/>
      <element minOccurs="0" name="estado">
        <simpleType>
          <restriction base="string">
            <pattern value="[A-Z]{2}"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="pais" type="com:nome"/>
      <element minOccurs="0" name="cep">
        <simpleType>
          <restriction base="string">
            <pattern value="\d{8}"/>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  
  <simpleType name="poloDoInteressado">
    <annotation>
      <documentation>
        Pólo que o interessado assume
        no processo. Indica o nível
        de interesse do mesmo com o
        desfecho do mesmo.
      </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ativo"/>
      <enumeration value="passivo"/>
      <enumeration value="terceiro"/>
    </restriction>
  </simpleType>
  
  <complexType name="interessado">
    <annotation>
      <documentation>
        Pessoa que possui algum interesse
        no desfecho do processo administrativo
        relacionado.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="com:pessoa">
        <sequence>
          <element minOccurs="0" name="polo" type="com:poloDoInteressado"/>
          <element maxOccurs="unbounded" minOccurs="0" name="outroNome" type="com:nome"/>
          <element maxOccurs="unbounded" minOccurs="0" name="documentoDeIdentificacao" type="com:documentoDeIdentificacao"/>
          <element maxOccurs="unbounded" minOccurs="0" name="endereco" type="com:endereco"/>
          <element minOccurs="0" name="sexo">
            <simpleType>
              <restriction base="string">
                <enumeration value="M"><annotation><documentation>Masculino</documentation></annotation></enumeration>
                <enumeration value="F"><annotation><documentation>Feminino</documentation></annotation></enumeration>
                <enumeration value="D"><annotation><documentation>Desconhecido</documentation></annotation></enumeration>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="nomeDoGenitor" type="com:nome"/>
          <element minOccurs="0" name="nomeDaGenitora" type="com:nome"/>
          <element minOccurs="0" name="dataDeNascimento" type="date"/>
          <element minOccurs="0" name="dataDeObito" type="date"/>
          <element minOccurs="0" name="cidadeNatural" type="com:nome"/>
          <element minOccurs="0" name="estadoNatural">
            <simpleType>
              <restriction base="string">
                <pattern value="[A-Z]{2}"/>
              </restriction>
            </simpleType>
          </element>
          <element minOccurs="0" name="nacionalidade">
            <annotation>
              <documentation>
                País da nacionalidade da pessoa individualizada, no
                formato ISO-3166-1-alpha-2.
              </documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <pattern value="[A-Z]{2}"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  
  <simpleType name="motivoDaUrgencia">
	<annotation>
		<documentation>
			Caso o processo seja marcado como "urgente",
			este campo passa a ser de preenchimento obrigatório.
		</documentation>
	</annotation>    				  
    <restriction base="string">
	  <!-- Nota para manutenção: qualquer alteração nessa enumeração
	  de valores *deve* ser refletida no mecanismo que valida a entrada
	  de dados da API REST (validador JSR303). -->
      <enumeration value="1"><annotation><documentation>hipótese de prioridade prevista em lei</documentation></annotation></enumeration>
      <enumeration value="2"><annotation><documentation>assunto relativo ao cumprimento de decisão judicial</documentation></annotation></enumeration>
      <enumeration value="3"><annotation><documentation>risco de perecimento de direito do interessado</documentation></annotation></enumeration>
      <enumeration value="4"><annotation><documentation>risco de prescrição ou decadência de pretensão da Administração Pública</documentation></annotation></enumeration>
      <enumeration value="5"><annotation><documentation>relevante interesse público</documentation></annotation></enumeration>
    </restriction>
  </simpleType>
  
</schema>