fontes/wsdl/api-pen.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions xmlns:tra="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/tramite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rec="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/recibo" xmlns:pro="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/processo" xmlns:pen="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1" xmlns:cons="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/consultas" xmlns:com="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/comum" xmlns="http://schemas.xmlsoap.org/wsdl/" name="InteroperabilidadePEN" targetNamespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1">
  <types>
<schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tra="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/tramite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rec="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/recibo" xmlns:pro="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/processo" xmlns:pen="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1" xmlns:cons="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/consultas" xmlns:com="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/comum" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1">
      
      <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/comum" schemaLocation="comum.xsd"/>
      <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/processo" schemaLocation="processo.xsd"/>
      <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/tramite" schemaLocation="tramite.xsd"/>
      <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/documento" schemaLocation="documento.xsd"/>
      <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/componente-digital" schemaLocation="componente-digital.xsd"/>
      <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/recibo" schemaLocation="recibo.xsd"/>
      <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/consultas" schemaLocation="consultas.xsd"/>
     
      <element name="interoperabilidadeException">
        <complexType>
          <annotation>
            <documentation>
              Exceção de negócio, disparada quando algum
              problema é identificado que impede a conclusão
              da operação. Possui um código de erro para ser
              lido e processado automaticamente pelo sistema
              solicitante e uma mensagem com o intuito de ser
              lida por um usuário final ou interessado correspondente.
            </documentation>
          </annotation>
          <sequence>
            <element name="codigoErro" type="string"/>
            <element name="mensagem" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="parametro">
			  <annotation>
			    <documentation>
			      Parâmetros retornados nessa mensagem
			      de erro. Permite que os sistemas da ponta
			      possam automatizar processos de tratamento
			      de erros comuns.
			    </documentation>
			  </annotation>
			  <complexType>
			    <simpleContent>
			      <extension base="string">
			        <attribute name="chave" use="required">
			          <simpleType>
		                <restriction base="string">
		                  <minLength value="1"/>
		                  <maxLength value="250"/>
		                </restriction>
		              </simpleType>
			        </attribute>
			      </extension>
			    </simpleContent>
			  </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      
      <element name="enviarProcesso">
      	<complexType>
      	  <sequence>
            <element name="novoTramiteDeProcesso" type="tra:novoTramiteDeProcesso"/>
      	  </sequence>
      	</complexType>
      </element>
      
      <element name="enviarProcessoResponse">
      	<complexType>
      	  <sequence>
      	    <element name="dadosTramiteDeProcessoCriado" type="tra:dadosTramiteDeProcessoCriado"/>
      	  </sequence>
      	</complexType>
      </element>
      
      <element name="enviarDocumento">
        <complexType>
          <sequence>
            <element name="novoTramiteDeDocumento" type="tra:novoTramiteDeDocumento"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="enviarDocumentoResponse">
        <complexType>
          <sequence>
            <element name="dadosTramiteDeDocumentoCriado" type="tra:dadosTramiteDeDocumentoCriado"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="enviarComponenteDigital">
        <complexType>
          <sequence>
            <element name="dadosDoComponenteDigital" type="tra:dadosDoComponenteDigital"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="enviarComponenteDigitalResponse">
        <complexType>
          <sequence/>
        </complexType>
      </element>
      
      <element name="enviarParteDeComponenteDigital">
        <complexType>
          <sequence>
            <element name="dadosDaParteDeComponenteDigital" type="tra:dadosDaParteDeComponenteDigital"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="enviarParteDeComponenteDigitalResponse">
        <complexType>
          <sequence/>
        </complexType>
      </element>
      
      <element name="sinalizarTerminoDeEnvioDasPartesDoComponente">
        <complexType>
          <sequence>
            <element name="dadosDoTerminoDeEnvioDePartes" type="tra:dadosDoTerminoDeEnvioDePartes"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="sinalizarTerminoDeEnvioDasPartesDoComponenteResponse">
        <complexType>
          <sequence/>
        </complexType>
      </element>
      
      <element name="listarPendencias">
        <complexType>
          <sequence>
            <element name="filtroDePendencias" type="tra:filtroDePendencias"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="listarPendenciasResponse">
        <complexType>
          <sequence>
            <element name="listaDePendencias" type="tra:listaDePendencias"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="solicitarMetadados">
        <complexType>
          <sequence>
            <element name="IDT" type="com:IDT"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="solicitarMetadadosResponse">
        <complexType>
          <sequence>
            <element name="metadados" type="tra:metadados"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="receberComponenteDigital">
        <complexType>
          <sequence>
          	<element name="parametrosParaRecebimentoDeComponenteDigital" type="tra:parametrosParaRecebimentoDeComponenteDigital"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="receberComponenteDigitalResponse">
        <complexType>
          <sequence>
            <element name="conteudoDoComponenteDigital" type="base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="enviarReciboDeTramite">
        <complexType>
          <sequence>
            <element name="dadosDoReciboDeTramite" type="tra:dadosDoReciboDeTramite"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="enviarReciboDeTramiteResponse">
        <complexType>
          <sequence>
          </sequence>
        </complexType>
      </element>
      
      <element name="receberReciboDeTramite">
        <complexType>
          <sequence>
            <element name="IDT" type="com:IDT"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="receberReciboDeTramiteResponse">
        <complexType>
          <sequence>
            <element name="conteudoDoReciboDeTramite" type="tra:conteudoDoReciboDeTramite"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="cancelarEnvioDeTramite">
        <complexType>
          <sequence>
            <element name="IDT" type="com:IDT"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="cancelarEnvioDeTramiteResponse">
        <complexType>
          <sequence/>
        </complexType>
      </element>
      
      <element name="consultarTramites">
        <complexType>
          <sequence>
            <element name="filtroDeConsultaDeTramites" type="cons:filtroDeConsultaDeTramites"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="consultarTramitesResponse">
        <complexType>
          <sequence>
            <element name="tramitesEncontrados" type="cons:tramitesEncontrados"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="consultarRepositoriosDeEstruturas">
        <complexType>
          <sequence>
            <element name="filtroDeConsultaDeRepositoriosDeEstrutura" type="cons:filtroDeConsultaDeRepositoriosDeEstrutura"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="consultarRepositoriosDeEstruturasResponse">
        <complexType>
          <sequence>
            <element name="repositoriosEncontrados" type="cons:repositoriosEncontrados"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="consultarEstruturasPorEstruturaPai">
        <complexType>
          <sequence>
            <element name="filtroDeEstruturasPorEstruturaPai" type="cons:filtroDeEstruturasPorEstruturaPai"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="consultarEstruturasPorEstruturaPaiResponse">
        <complexType>
          <sequence>
            <element name="estruturasEncontradasNoFiltroPorEstruturaPai" type="cons:estruturasEncontradasNoFiltroPorEstruturaPai"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="consultarEstruturas">
        <complexType>
          <sequence>
            <element name="filtroDeEstruturas" type="cons:filtroDeEstruturas"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="consultarEstruturasResponse">
        <complexType>
          <sequence>
            <element name="estruturasEncontradas" type="cons:estruturasEncontradas"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="receberReciboDeEnvio">
        <complexType>
          <sequence>
            <element name="IDT" type="com:IDT"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="receberReciboDeEnvioResponse">
        <complexType>
          <sequence>
            <element name="conteudoDoReciboDeEnvio" type="tra:conteudoDoReciboDeEnvio"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="recusarTramite">
        <complexType>
          <sequence>
            <element name="recusaDeTramite" type="tra:recusaDeTramite"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="recusarTramiteResponse">
        <complexType>
          <sequence>
          </sequence>
        </complexType>
      </element>
      
      <element name="reproduzirUltimoTramite">
        <complexType>
          <sequence>
            <element name="dadosDoTramiteAReproduzir" type="tra:dadosDoTramiteAReproduzir"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="reproduzirUltimoTramiteResponse">
        <complexType>
          <sequence>
            <element name="dadosDoTramiteDeReproducaoCriado" type="tra:dadosDoTramiteDeReproducaoCriado"/>
          </sequence>
        </complexType>
      </element>
      
    </schema>
  </types>
  <message name="enviarDocumentoRequest">
    <part element="pen:enviarDocumento" name="enviarDocumento">
    </part>
  </message>
  <message name="enviarParteDeComponenteDigitalResponse">
    <part element="pen:enviarParteDeComponenteDigitalResponse" name="enviarParteDeComponenteDigitalResponse">
    </part>
  </message>
  <message name="receberComponenteDigitalResponse">
    <part element="pen:receberComponenteDigitalResponse" name="receberComponenteDigitalResponse">
    </part>
  </message>
  <message name="enviarReciboDeTramiteRequest">
    <part element="pen:enviarReciboDeTramite" name="enviarReciboDeTramite">
    </part>
  </message>
  <message name="receberComponenteDigitalRequest">
    <part element="pen:receberComponenteDigital" name="receberComponenteDigital">
    </part>
  </message>
  <message name="consultarTramitesRequest">
    <part element="pen:consultarTramites" name="consultarTramites">
    </part>
  </message>
  <message name="receberReciboDeEnvioRequest">
    <part element="pen:receberReciboDeEnvio" name="receberReciboDeEnvio">
    </part>
  </message>
  <message name="consultarRepositoriosDeEstruturasResponse">
    <part element="pen:consultarRepositoriosDeEstruturasResponse" name="consultarRepositoriosDeEstruturasResponse">
    </part>
  </message>
  <message name="listarPendenciasRequest">
    <part element="pen:listarPendencias" name="listarPendencias">
    </part>
  </message>
  <message name="consultarEstruturasRequest">
    <part element="pen:consultarEstruturas" name="consultarEstruturas">
    </part>
  </message>
  <message name="recusarTramiteRequest">
    <part element="pen:recusarTramite" name="recusarTramite">
    </part>
  </message>
  <message name="enviarComponenteDigitalRequest">
    <part element="pen:enviarComponenteDigital" name="enviarComponenteDigital">
    </part>
  </message>
  <message name="cancelarEnvioDeTramiteRequest">
    <part element="pen:cancelarEnvioDeTramite" name="cancelarEnvioDeTramite">
    </part>
  </message>
  <message name="recusarTramiteResponse">
    <part element="pen:recusarTramiteResponse" name="recusarTramiteResponse">
    </part>
  </message>
  <message name="solicitarMetadadosResponse">
    <part element="pen:solicitarMetadadosResponse" name="solicitarMetadadosResponse">
    </part>
  </message>
  <message name="enviarProcessoResponse">
    <part element="pen:enviarProcessoResponse" name="enviarProcessoResponse">
    </part>
  </message>
  <message name="enviarComponenteDigitalResponse">
    <part element="pen:enviarComponenteDigitalResponse" name="enviarComponenteDigitalResponse">
    </part>
  </message>
  <message name="consultarEstruturasPorEstruturaPaiResponse">
    <part element="pen:consultarEstruturasPorEstruturaPaiResponse" name="consultarEstruturasPorEstruturaPaiResponse">
    </part>
  </message>
  <message name="consultarEstruturasResponse">
    <part element="pen:consultarEstruturasResponse" name="consultarEstruturasResponse">
    </part>
  </message>
  <message name="cancelarEnvioDeTramiteResponse">
    <part element="pen:cancelarEnvioDeTramiteResponse" name="cancelarEnvioDeTramiteResponse">
    </part>
  </message>
  <message name="enviarProcessoRequest">
    <part element="pen:enviarProcesso" name="enviarProcesso">
    </part>
  </message>
  <message name="consultarEstruturasPorEstruturaPaiRequest">
    <part element="pen:consultarEstruturasPorEstruturaPai" name="consultarEstruturasPorEstruturaPai">
    </part>
  </message>
  <message name="enviarParteDeComponenteDigitalRequest">
    <part element="pen:enviarParteDeComponenteDigital" name="enviarParteDeComponenteDigital">
    </part>
  </message>
  <message name="consultarTramitesResponse">
    <part element="pen:consultarTramitesResponse" name="consultarTramitesResponse">
    </part>
  </message>
  <message name="receberReciboDeTramiteResponse">
    <part element="pen:receberReciboDeTramiteResponse" name="receberReciboDeTramiteResponse">
    </part>
  </message>
  <message name="interoperabilidadeException">
    <part element="pen:interoperabilidadeException" name="interoperabilidadeException">
    </part>
  </message>
  <message name="enviarReciboDeTramiteResponse">
    <part element="pen:enviarReciboDeTramiteResponse" name="enviarReciboDeTramiteResponse">
    </part>
  </message>
  <message name="solicitarMetadadosRequest">
    <part element="pen:solicitarMetadados" name="solicitarMetadados">
    </part>
  </message>
  <message name="receberReciboDeTramiteRequest">
    <part element="pen:receberReciboDeTramite" name="receberReciboDeTramite">
    </part>
  </message>
  <message name="reproduzirUltimoTramiteResponse">
    <part element="pen:reproduzirUltimoTramiteResponse" name="reproduzirUltimoTramiteResponse">
    </part>
  </message>
  <message name="reproduzirUltimoTramiteRequest">
    <part element="pen:reproduzirUltimoTramite" name="reproduzirUltimoTramite">
    </part>
  </message>
  <message name="sinalizarTerminoDeEnvioDasPartesDoComponenteResponse">
    <part element="pen:sinalizarTerminoDeEnvioDasPartesDoComponenteResponse" name="sinalizarTerminoDeEnvioDasPartesDoComponenteResponse">
    </part>
  </message>
  <message name="enviarDocumentoResponse">
    <part element="pen:enviarDocumentoResponse" name="enviarDocumentoResponse">
    </part>
  </message>
  <message name="consultarRepositoriosDeEstruturasRequest">
    <part element="pen:consultarRepositoriosDeEstruturas" name="consultarRepositoriosDeEstruturas">
    </part>
  </message>
  <message name="receberReciboDeEnvioResponse">
    <part element="pen:receberReciboDeEnvioResponse" name="receberReciboDeEnvioResponse">
    </part>
  </message>
  <message name="sinalizarTerminoDeEnvioDasPartesDoComponenteRequest">
    <part element="pen:sinalizarTerminoDeEnvioDasPartesDoComponente" name="sinalizarTerminoDeEnvioDasPartesDoComponente">
    </part>
  </message>
  <message name="listarPendenciasResponse">
    <part element="pen:listarPendenciasResponse" name="listarPendenciasResponse">
    </part>
  </message>
  <portType name="InteroperabilidadePEN">
    <operation name="enviarProcesso">
<documentation>
        Inicia um trâmite de processo administrativo.
        No retorno desse serviço serão disponibilizados:
        IDT gerado para a operação (necessário para
        intervenções futuras) e lista de hashes dos
        componentes digitais solicitados.
      </documentation>
      <input message="pen:enviarProcessoRequest" name="enviarProcessoInput">
    </input>
      <output message="pen:enviarProcessoResponse" name="enviarProcessoOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="enviarDocumento">
<documentation>
        Inicia um trâmite de documento avulso.
        No retorno desse serviço serão disponibilizados:
        IDTs gerados para a operação (necessário para
        intervenções futuras). Um mesmo documento
        avulso pode ser enviado para vários destinatários.
      </documentation>
      <input message="pen:enviarDocumentoRequest" name="enviarDocumentoInput">
    </input>
      <output message="pen:enviarDocumentoResponse" name="enviarDocumentoOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="enviarComponenteDigital">
<documentation>
        Armazena no serviço o conteúdo binário de
        um componente digital.
      </documentation>
      <input message="pen:enviarComponenteDigitalRequest" name="enviarComponenteDigitalInput">
    </input>
      <output message="pen:enviarComponenteDigitalResponse" name="enviarComponenteDigitalOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="enviarParteDeComponenteDigital">
<documentation>
        Armazena no serviço uma parte de
        um componente digital.
      </documentation>
      <input message="pen:enviarParteDeComponenteDigitalRequest" name="enviarParteDeComponenteDigitalInput">
    </input>
      <output message="pen:enviarParteDeComponenteDigitalResponse" name="enviarParteDeComponenteDigitalOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="sinalizarTerminoDeEnvioDasPartesDoComponente">
<documentation>
        Indica para a solução que o sistema finalizou
        o envio das partes de um componente digital. Se
        a solução confirmar essa situação, o componente
        passa a ser considerado como recebido, assim como
        no serviço que permite o upload através de uma única
        chamada.
      </documentation>
      <input message="pen:sinalizarTerminoDeEnvioDasPartesDoComponenteRequest" name="sinalizarTerminoDeEnvioDasPartesDoComponenteInput">
    </input>
      <output message="pen:sinalizarTerminoDeEnvioDasPartesDoComponenteResponse" name="sinalizarTerminoDeEnvioDasPartesDoComponenteOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="listarPendencias">
<documentation>
        Busca todos os trâmites que estão
        aguardando alguma ação do sistema
        consumidor, seja como remetente
        ou destinatário.
      </documentation>
      <input message="pen:listarPendenciasRequest" name="listarPendenciasInput">
    </input>
      <output message="pen:listarPendenciasResponse" name="listarPendenciasOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="solicitarMetadados">
<documentation>
        Busca os metadados de um determinado
        trâmite. Esse serviço deve ser utilizado
        pelo destinatário, quando o mesmo
        recebe uma nova pendência.
      </documentation>
      <input message="pen:solicitarMetadadosRequest" name="solicitarMetadadosInput">
    </input>
      <output message="pen:solicitarMetadadosResponse" name="solicitarMetadadosOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="receberComponenteDigital">
<documentation>
        Faz o download do conteúdo binário de um
        componente digital. Deve ser chamado para
        componentes digitais de trâmites pendentes.
      </documentation>
      <input message="pen:receberComponenteDigitalRequest" name="receberComponenteDigitalInput">
    </input>
      <output message="pen:receberComponenteDigitalResponse" name="receberComponenteDigitalOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="enviarReciboDeTramite">
<documentation>
        Registra o recibo de trâmite no serviço.
        Esse passo é um passo do destinatário, que
        deve produzir a assinatura sobre a cadeia
        de bytes correspondente ao conteúdo XML
        do elemento {http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/recibo}recibo,
        sem que este tenha qualquer espaço em branco ou quebra de linha
        entre as tags.
      </documentation>
      <input message="pen:enviarReciboDeTramiteRequest" name="enviarReciboDeTramiteInput">
    </input>
      <output message="pen:enviarReciboDeTramiteResponse" name="enviarReciboDeTramiteOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="receberReciboDeTramite">
<documentation>
        Faz o download do recibo do trâmite,
        que foi assinado e enviado pelo destinátario.
      </documentation>
      <input message="pen:receberReciboDeTramiteRequest" name="receberReciboDeTramiteInput">
    </input>
      <output message="pen:receberReciboDeTramiteResponse" name="receberReciboDeTramiteOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="cancelarEnvioDeTramite">
<documentation>
      	Cancela um trâmite que ainda não foi concluído. 
      	Apenas o remetente pode cancelar trâmites. 
      	O cancelamento é permitido enquanto o recibo ainda 
      	não tenha sido enviado pelo destinatário.
      </documentation>
      <input message="pen:cancelarEnvioDeTramiteRequest" name="cancelarEnvioDeTramiteInput">
    </input>
      <output message="pen:cancelarEnvioDeTramiteResponse" name="cancelarEnvioDeTramiteOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="consultarTramites">
<documentation>
        Permite consultar trâmites relacionados
        ao sistema usuário, através de várias
        opções de filtro.
      </documentation>
      <input message="pen:consultarTramitesRequest" name="consultarTramitesInput">
    </input>
      <output message="pen:consultarTramitesResponse" name="consultarTramitesOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="consultarRepositoriosDeEstruturas">
<documentation>
        Permite listar todos os repositórios de
        estruturas organizacionais, passo necessário
        para que os serviços de consulta de estruturas
        possam ser chamados.
      </documentation>
      <input message="pen:consultarRepositoriosDeEstruturasRequest" name="consultarRepositoriosDeEstruturasInput">
    </input>
      <output message="pen:consultarRepositoriosDeEstruturasResponse" name="consultarRepositoriosDeEstruturasOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="consultarEstruturasPorEstruturaPai">
<documentation>
        Permite consultas as estruturas organizacionais
        dos repositórios de estruturas, através de um
        mecanismo de busca por hierarquia (com o fim de
        servir de backend para um componente de árvore).
      </documentation>
      <input message="pen:consultarEstruturasPorEstruturaPaiRequest" name="consultarEstruturasPorEstruturaPaiInput">
    </input>
      <output message="pen:consultarEstruturasPorEstruturaPaiResponse" name="consultarEstruturasPorEstruturaPaiOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="consultarEstruturas">
<documentation>
        Permite consultas as estruturas organizacionais
        dos repositórios de estruturas, através de um
        mecanismo de busca por opções de filtro (com o fim de
        servir de backend para um componente de grade
        com formulário de filtro).
      </documentation>
      <input message="pen:consultarEstruturasRequest" name="consultarEstruturasInput">
    </input>
      <output message="pen:consultarEstruturasResponse" name="consultarEstruturasOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="receberReciboDeEnvio">
<documentation>
        Fornece o recibo de envio do trâmite, que
        significa que o remetente já enviou os
        componentes digitais que precisava. Agora
        o trâmite já se encontra na lista de pendências
        do destinatário.
      </documentation>
      <input message="pen:receberReciboDeEnvioRequest" name="receberReciboDeEnvioInput">
    </input>
      <output message="pen:receberReciboDeEnvioResponse" name="receberReciboDeEnvioOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="recusarTramite">
<documentation>
        Permite que o destinatário recuse um
        trâmite, desde que ele já tenha recebido-o
        como pendência e que ainda não tenha enviado
        recibo de conclusão.
      </documentation>
      <input message="pen:recusarTramiteRequest" name="recusarTramiteInput">
    </input>
      <output message="pen:recusarTramiteResponse" name="recusarTramiteOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
    <operation name="reproduzirUltimoTramite">
<documentation>
        Permite que o remetente solicite a reprodução
      	de um trâmite. Ele solicita essa reprodução a
      	partir do NRE do processo/documento e a identificação
      	do destinatário. A solução, de posse dessas informações,
      	procura pelo último trâmite nessa configuração
      	e inicia um novo trâmite com os mesmos metadados.
      	Nesse novo trâmite, todos os componentes digitais
      	são solicitados novamente ao remetente.
      </documentation>
      <input message="pen:reproduzirUltimoTramiteRequest" name="reproduzirUltimoTramiteInput">
    </input>
      <output message="pen:reproduzirUltimoTramiteResponse" name="reproduzirUltimoTramiteOutput">
    </output>
      <fault message="pen:interoperabilidadeException" name="interoperabilidadeException">
    </fault>
    </operation>
  </portType>
  <binding name="InteroperabilidadePENSoapBinding" type="pen:InteroperabilidadePEN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="enviarProcesso">
      <soap:operation style="document"/>
      <input name="enviarProcessoInput">
        <soap:body use="literal"/>
      </input>
      <output name="enviarProcessoOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="enviarDocumento">
      <soap:operation style="document"/>
      <input name="enviarDocumentoInput">
        <soap:body use="literal"/>
      </input>
      <output name="enviarDocumentoOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="enviarComponenteDigital">
      <soap:operation style="document"/>
      <input name="enviarComponenteDigitalInput">
        <soap:body use="literal"/>
      </input>
      <output name="enviarComponenteDigitalOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="enviarParteDeComponenteDigital">
      <soap:operation style="document"/>
      <input name="enviarParteDeComponenteDigitalInput">
        <soap:body use="literal"/>
      </input>
      <output name="enviarParteDeComponenteDigitalOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="sinalizarTerminoDeEnvioDasPartesDoComponente">
      <soap:operation style="document"/>
      <input name="sinalizarTerminoDeEnvioDasPartesDoComponenteInput">
        <soap:body use="literal"/>
      </input>
      <output name="sinalizarTerminoDeEnvioDasPartesDoComponenteOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="listarPendencias">
      <soap:operation style="document"/>
      <input name="listarPendenciasInput">
        <soap:body use="literal"/>
      </input>
      <output name="listarPendenciasOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="solicitarMetadados">
      <soap:operation style="document"/>
      <input name="solicitarMetadadosInput">
        <soap:body use="literal"/>
      </input>
      <output name="solicitarMetadadosOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="receberComponenteDigital">
      <soap:operation style="document"/>
      <input name="receberComponenteDigitalInput">
        <soap:body use="literal"/>
      </input>
      <output name="receberComponenteDigitalOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="enviarReciboDeTramite">
      <soap:operation style="document"/>
      <input name="enviarReciboDeTramiteInput">
        <soap:body use="literal"/>
      </input>
      <output name="enviarReciboDeTramiteOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="receberReciboDeTramite">
      <soap:operation style="document"/>
      <input name="receberReciboDeTramiteInput">
        <soap:body use="literal"/>
      </input>
      <output name="receberReciboDeTramiteOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="cancelarEnvioDeTramite">
      <soap:operation style="document"/>
      <input name="cancelarEnvioDeTramiteInput">
        <soap:body use="literal"/>
      </input>
      <output name="cancelarEnvioDeTramiteOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="consultarTramites">
      <soap:operation style="document"/>
      <input name="consultarTramitesInput">
        <soap:body use="literal"/>
      </input>
      <output name="consultarTramitesOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="consultarRepositoriosDeEstruturas">
      <soap:operation style="document"/>
      <input name="consultarRepositoriosDeEstruturasInput">
        <soap:body use="literal"/>
      </input>
      <output name="consultarRepositoriosDeEstruturasOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="consultarEstruturasPorEstruturaPai">
      <soap:operation style="document"/>
      <input name="consultarEstruturasPorEstruturaPaiInput">
        <soap:body use="literal"/>
      </input>
      <output name="consultarEstruturasPorEstruturaPaiOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="consultarEstruturas">
      <soap:operation style="document"/>
      <input name="consultarEstruturasInput">
        <soap:body use="literal"/>
      </input>
      <output name="consultarEstruturasOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="receberReciboDeEnvio">
      <soap:operation style="document"/>
      <input name="receberReciboDeEnvioInput">
        <soap:body use="literal"/>
      </input>
      <output name="receberReciboDeEnvioOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="recusarTramite">
      <soap:operation style="document"/>
      <input name="recusarTramiteInput">
        <soap:body use="literal"/>
      </input>
      <output name="recusarTramiteOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
    <operation name="reproduzirUltimoTramite">
      <soap:operation style="document"/>
      <input name="reproduzirUltimoTramiteInput">
        <soap:body use="literal"/>
      </input>
      <output name="reproduzirUltimoTramiteOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="interoperabilidadeException">
        <soap:fault name="interoperabilidadeException"/>
      </fault>
    </operation>
  </binding>
  <service name="InteroperabilidadePENService">
    <port binding="pen:InteroperabilidadePENSoapBinding" name="InteroperabilidadePENPort">
      <soap:address location="https://desenv-api-pen.intra.planejamento/interoperabilidade/soap/v1_1/"/>
    </port>
  </service>
</definitions>