fontes/wsdl/tramite.xsd

<?xml version='1.0' encoding='UTF-8'?><schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tra="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/tramite" xmlns:rec="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/recibo" xmlns:pro="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/processo" xmlns:doc="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/documento" xmlns:dig="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/componente-digital" xmlns:com="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/comum" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/tramite">
  
  <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/comum" schemaLocation="comum.xsd"/>
  <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/processo" schemaLocation="processo.xsd"/>
  <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/documento" schemaLocation="documento.xsd"/>
  <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/componente-digital" schemaLocation="componente-digital.xsd"/>
  <import namespace="http://pen.planejamento.gov.br/interoperabilidade/soap/v1_1/recibo" schemaLocation="recibo.xsd"/>
  
  <simpleType name="ticketParaEnvioDeComponentesDigitais">
    <annotation>
      <documentation>
        Este identificador deve ser utilizado nas chamadas
        de upload de componente digital.
      </documentation>
    </annotation>
    <restriction base="long"/>
  </simpleType>
  
  <complexType name="novoTramiteDeProcesso">
    <annotation>
      <documentation>
        Dados para criação de um novo trâmite de processo
        administrativo. Utilizado no serviço de envio
        de documento processo.
      </documentation>
    </annotation>
    <sequence>
    	<element name="cabecalho">
    		<complexType>
    			<sequence>
    				<element name="remetente" type="com:estruturaOrganizacional"/>
    				<element name="destinatario" type="com:estruturaOrganizacional"/>
    				<element minOccurs="0" name="NRE" type="com:NRE"/>
    				<element minOccurs="0" name="urgente" type="boolean"/>
    				<element minOccurs="0" name="motivoDaUrgencia" type="com:motivoDaUrgencia"/>
    				<element minOccurs="0" name="obrigarEnvioDeTodosOsComponentesDigitais" type="boolean">
    				  <annotation>
    				    <documentation>
    				      Permite que o remetente indique para a solução a 
    				      intenção de enviar todos os componentes digitais,
    				      independentemente do destinatário já ter recebido
    				      um ou mais deles através de trâmites anteriores.
    				      Em outras palavras, ao passar o valor 'true' nesta
    				      tag, a solução não irá 'filtrar' os componentes digitais
    				      solicitados de acordo com o conhecimento de trâmites
    				      passados, solicitando o binário de cada um deles
    				      para o remetente.
    				    </documentation>
    				  </annotation>
    				</element>
    				<element maxOccurs="unbounded" minOccurs="0" name="propriedadeAdicional" type="com:propriedadeAdicional"/>
    			</sequence>
    		</complexType>
    	</element>
    	<element name="processo" type="pro:processo"/>
    </sequence>
  </complexType>
  
  <complexType name="dadosTramiteDeProcessoCriado">
    <annotation>
      <documentation>
        Dados do trâmite que foi criado. É usado no
        retorno do serviço que permite o envio
        de um processo administrativo para outro órgão.
      </documentation>
    </annotation>
    <sequence>
      <element name="IDT" type="com:IDT"/>
      <element minOccurs="0" name="NRE" type="com:NRE"/>
      <element name="ticketParaEnvioDeComponentesDigitais" type="tra:ticketParaEnvioDeComponentesDigitais"/>
      <element name="dataHoraDeRegistroDoTramite" type="dateTime"/>
      <element name="componentesDigitaisSolicitados">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="processo">
              <complexType>
                <sequence>
                  <element name="protocolo" type="com:protocolo"/>
                  <element maxOccurs="unbounded" name="hash" type="string"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  
  <complexType name="dadosDoComponenteDigital">
    <annotation>
      <documentation>
        Dados para upload de um arquivo binário de
        um trâmite. Usado em serviço próprio consumido
        pelo remetente do trâmite.
      </documentation>
    </annotation>
    <sequence>
      <element name="ticketParaEnvioDeComponentesDigitais" type="tra:ticketParaEnvioDeComponentesDigitais"/>
      <element name="protocolo" type="com:protocolo">
        <annotation>
          <documentation>
            Protocolo do artefato que é dono desse componente
            digital. Pode ser um protocolo de processo (se 
            este arquivo for um componente de uma peça), ou
            um protocolo de documento avulso.
          </documentation>
        </annotation>
      </element>
      <element name="hashDoComponenteDigital" type="string"/>
      <element name="conteudoDoComponenteDigital" type="base64Binary" xmime:expectedContentTypes="application/octet-stream">
        <annotation>
          <documentation>
            Conteúdo em bytes do componente digital. Deve ser a cadeia
            exata que, ao digerida pelo algoritmo de hash, gera o hash
            passado como identificação.
          </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  
  <complexType name="dadosDaParteDeComponenteDigital">
    <annotation>
      <documentation>
        Dados para upload de uma parte de componente
        digital. Usado em serviço próprio consumido
        pelo remetente do trâmite.
      </documentation>
    </annotation>
    <sequence>
      <element name="ticketParaEnvioDeComponentesDigitais" type="tra:ticketParaEnvioDeComponentesDigitais"/>
      <element name="protocolo" type="com:protocolo">
        <annotation>
          <documentation>
            Protocolo do artefato que é dono desse componente
            digital. Pode ser um protocolo de processo (se 
            este arquivo for um componente de uma peça), ou
            um protocolo de documento avulso.
          </documentation>
        </annotation>
      </element>
      <element name="hashDoComponenteDigital" type="string"/>
      <element name="identificacaoDaParte" type="dig:parteDeComponenteDigital"/>
      <element name="conteudoDaParteDeComponenteDigital" type="base64Binary" xmime:expectedContentTypes="application/octet-stream">
        <annotation>
          <documentation>
            Conteúdo em bytes da parte de componente digital. Seu tamanho
            deve ser exatamente igual ao tamanho representado pelo atributo
            "identificacaoDaParte".
          </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  
  <complexType name="dadosDoTerminoDeEnvioDePartes">
    <annotation>
      <documentation>
        Dados para sinalizar o término do envio
        das partes de um componente digital de um trâmite. 
        Usado em serviço próprio consumido
        pelo remetente do trâmite.
      </documentation>
    </annotation>
    <sequence>
      <element name="ticketParaEnvioDeComponentesDigitais" type="tra:ticketParaEnvioDeComponentesDigitais"/>
      <element name="protocolo" type="com:protocolo">
        <annotation>
          <documentation>
            Protocolo do artefato que é dono desse componente
            digital. Pode ser um protocolo de processo (se 
            este arquivo for um componente de uma peça), ou
            um protocolo de documento avulso.
          </documentation>
        </annotation>
      </element>
      <element name="hashDoComponenteDigital" type="string"/>
    </sequence>
  </complexType>
  
  <complexType name="filtroDePendencias">
    <annotation>
      <documentation>
        Opções de filtro para a funcionalidade
        de busca de pendências.
      </documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" name="todasAsPendencias" type="boolean">
        <annotation>
          <documentation>
            Caso marcado, não apenas as pendências
            novas (ou seja, trâmites em situações 
            que definem uma transição de responsabilidade),
            mas também situações intermediárias (ou seja,
            situações que já indicam um passo que foi efetuado
            pelo sistema em questão), são consideradas no
            filtro de busca. Se não marcado ou se não informado
            o padrão é trazer apenas as novas pendências.
          </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  
  <complexType name="listaDePendencias">
    <annotation>
      <documentation>
        Lista de pendências encontradas. Usado
        como retorno do serviço de publicação
        de pendências.
      </documentation>
    </annotation>
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="IDT">
        <annotation>
          <documentation>
            Identificador do trâmite pendente. Deve
            ser usado nas chamadas dos serviços que
            atuam sobre o mesmo.
          </documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="long">
              <attribute name="status" type="integer">
                <annotation>
                  <documentation>
                    Código da situação em que o trâmite se
                    encontra. É com essa informação que o
                    sistema chega no próximo passo necessário
                    para o processo.
                  </documentation>
                </annotation>
              </attribute>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  
  <complexType name="metadados">
    <annotation>
      <documentation>
        Contém os metadados do trâmite que são
        úteis para o destinatário.
      </documentation>
    </annotation>
    <sequence>
      <element name="remetente" type="com:estruturaOrganizacional"/>
      <element name="destinatario" type="com:estruturaOrganizacional"/>
      <element minOccurs="0" name="unidadeReceptora" type="com:estruturaOrganizacional"/>
      <element name="NRE" type="com:NRE"/>
      <element minOccurs="0" name="urgente" type="boolean"/>
      <element minOccurs="0" name="motivoDaUrgencia" type="com:motivoDaUrgencia"/>
      <element minOccurs="0" name="reproducaoDeTramite" type="boolean"/>
      <element maxOccurs="unbounded" minOccurs="0" name="propriedadeAdicional" type="com:propriedadeAdicional"/>
      <choice>
        <element name="processo" type="pro:processo"/>
        <element name="documento" type="doc:documentoAvulso"/>
      </choice>
    </sequence>
  </complexType>
  
  <complexType name="novoTramiteDeDocumento">
    <annotation>
      <documentation>
        Dados para criação de um novo trâmite de documento
        avulso para um ou mais destinatários. Utilizado 
        no serviço de envio de documento.
      </documentation>
    </annotation>
    <sequence>
      <element name="cabecalho">
        <complexType>
          <sequence>
            <element name="remetente" type="com:estruturaOrganizacional"/>
            <element maxOccurs="unbounded" name="destinatario" type="com:estruturaOrganizacional"/>
            <element minOccurs="0" name="NRE" type="com:NRE"/>
            <element minOccurs="0" name="urgente" type="boolean"/>
            <element minOccurs="0" name="motivoDaUrgencia" type="com:motivoDaUrgencia"/>
    		<element maxOccurs="unbounded" minOccurs="0" name="propriedadeAdicional" type="com:propriedadeAdicional"/>
          </sequence>
        </complexType>
      </element>
      <element name="documento" type="doc:documentoAvulso"/>
    </sequence>
  </complexType>
  
  <complexType name="dadosTramiteDeDocumentoCriado">
    <annotation>
      <documentation>
        Dados do trâmite que foi criado. É usado no
        retorno do serviço que permite o envio
        de um documento avulso para um ou mais órgãos.
      </documentation>
    </annotation>
    <sequence>
      <element maxOccurs="unbounded" name="tramite">
        <complexType>
          <sequence>
            <element name="IDT" type="com:IDT"/>
            <element name="NRE" type="com:NRE"/>
            <element name="destinatario" type="com:estruturaOrganizacional"/>
          </sequence>
        </complexType>
      </element>
      <element name="ticketParaEnvioDeComponentesDigitais" type="tra:ticketParaEnvioDeComponentesDigitais"/>
      <element name="dataHoraDeRegistroDoTramite" type="dateTime"/>
    </sequence>
  </complexType>
  
  <complexType name="dadosDoTramiteAReproduzir">
    <annotation>
      <documentation>
        Dados da solicitação de reprodução de trâmite,
        informados pelo remetente do trâmite original.
        Com essas informações (NRE e destinatário), a
        solução pode buscar o último trâmite com essa
        configuração e tentar reproduzí-lo.
      </documentation>
    </annotation>
    <sequence>
      <element name="NRE" type="com:NRE"/>
      <element name="destinatario" type="com:estruturaOrganizacional"/>
    </sequence>
  </complexType>
  
  <complexType name="dadosDoTramiteDeReproducaoCriado">
    <annotation>
      <documentation>
        Dados do trâmite de reprodução criado. O
        conteúdo é o mesmo da resposta do envio 
        normal de processos e documentos.
      </documentation>
    </annotation>
    <choice>
      <element name="tramiteDeProcessoCriado" type="tra:dadosTramiteDeProcessoCriado"/>
      <element name="tramiteDeDocumentoCriado" type="tra:dadosTramiteDeDocumentoCriado"/>
    </choice>
  </complexType>
  
  <complexType name="identificacaoDoComponenteDigital">
    <annotation>
      <documentation>
        Dados do componente digital que se deseja
        efetuar download. Deve ser um componente
        válido e de um trâmite que ainda está aberto.
      </documentation>
    </annotation>
    <sequence>
      <element name="IDT" type="com:IDT"/>
      <element name="protocolo" type="com:protocolo"/>
      <element name="hashDoComponenteDigital" type="string"/>
    </sequence>
  </complexType>
  
  <complexType name="dadosDoReciboDeTramite">
    <annotation>
      <documentation>
        Contém informações que o destinatário produz
        e envia para conclusão do trâmite. Essas informações
        são disponibilizadas para o remetente.
      </documentation>
    </annotation>
    <sequence>
      <element name="IDT" type="com:IDT"/>
      <element name="dataDeRecebimento" type="rec:dataDeRecebimento"/>
      <element name="hashDaAssinatura" type="string"/>
    </sequence>
  </complexType>
  
  <complexType name="conteudoDoReciboDeTramite">
    <annotation>
      <documentation>
        Contém uma cópia do conteúdo que
        foi assinado pelo destinatário,
        e o hash gerado nesse processo.
      </documentation>
    </annotation>
    <sequence>
      <element name="recibo" type="rec:recibo"/>
      <element name="cadeiaDoCertificado" type="string"/>
      <element name="hashDaAssinatura" type="string"/>
    </sequence>
  </complexType>
  
  <complexType name="conteudoDoReciboDeEnvio">
    <annotation>
      <documentation>
        Recibo assinado pelo barramento, que 
        garante ao remetente que ele enviou
        todos os componentes digitais necessários
        para o andamento deste trâmite.
      </documentation>
    </annotation>
    <sequence>
      <element name="reciboDeEnvio" type="rec:reciboDeEnvio"/>
      <element name="cadeiaDoCertificado" type="string"/>
      <element name="hashDaAssinatura" type="string"/>
    </sequence>
  </complexType>
  
  <complexType name="recusaDeTramite">
    <annotation>
      <documentation>
        Dados que o destinatário deve informar
        para recusar um trâmite. São eles:
        IDT do trâmite a ser recusado, justificativa
        (texto aberto) da recusa e motivo (enumeração
        de opções) da recusa.
      </documentation>
    </annotation>
    <sequence>
      <element name="IDT" type="com:IDT"/>
      <element name="justificativa" type="com:justificativaDaRecusaDeTramite"/>
      <element name="motivo" type="com:motivoDaRecusaDeTramite"/>
    </sequence>
  </complexType>
  
  <complexType name="parametrosParaRecebimentoDeComponenteDigital">
    <annotation>
      <documentation>
        Encapsula os parâmetros possíveis para recebimento
        de um componente digital. Através desse objeto, o
        consumidor do serviço pode especificar a parte específica
        do componente que deseja receber, caso esteja fazendo o
        download do mesmo por frações do conteúdo (chunks).
      </documentation>
    </annotation>
    <sequence>
      <element name="identificacaoDoComponenteDigital" type="tra:identificacaoDoComponenteDigital"/>
      <element minOccurs="0" name="parte" type="dig:parteDeComponenteDigital"/>
    </sequence>
  </complexType>
  
</schema>